/*HOME*/

.info_GPS {
  padding-top: 20px;
}

/*Barre navigation du haut*/

.header-button {
  display: flex;
  flex-direction: row-reverse;
}


/*Espace entre paragraphe */

.para{
  margin-left: 10px;
margin-top: 10px;
padding-bottom:20px;
padding-right:5px;
padding-left:5px;
}